@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.flip-card{
    perspective: 1000px;
}


.card-front{
    transition: 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .card-front{
    transform: rotateY(180deg);
}

.photo, .card-text{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


.card-text{
    transform: rotateY(180deg)
}



}